* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  text-align: center;
  padding: 20px;
}
/* carousel image */

.carousel-subtitle {
  text-align: center;
}

.carousel-container {
  width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.carousel-image {
  width: 100%;
  border-radius: 10px;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border: none;
  background-color: white;
  opacity: 0.6;
  cursor: pointer;
}
.previous-button {
  left: 0;
}
.next-button {
  right: 0;
}

/* accordion */

.accordion-container {
  background-color: rgb(0, 0, 126);
  padding: 20px;
  border-radius: 10px;
}

.accordion-title {
  color: white;
}

.accordion-faq {
  background-color: white;
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 8px;
}

.accordion-question {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.accordion-answer {
  font-size: 1rem;
  margin-bottom: 20px;
  width: 350px;
}

.accordion-button {
  border: 1px solid rgb(0, 0, 126);
  color: rgb(0, 0, 126);
  background-color: rgb(222, 222, 255);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* Quote Generator */
.quote-container {
  width: 350px;
  background-color: rgb(0, 0, 126);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.quote-generator-author {
  padding: 10px 0;
  font-style: italic;
}

.quote-button {
  background-color: rgb(255, 174, 0);
  color: rgb(0, 0, 126);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Shopping List */

.shopping-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  background-color: rgb(0, 0, 126);
  color: white;
  border-radius: 10px;
  padding: 10px;
}

.shopping-list-form {
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-list-input {
  outline: none;
  border: none;
}

.shopping-list-item {
  list-style: disc;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 230px;
  background-color: white;
  color: rgb(0, 0, 126);
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.shopping-list-button {
  background-color: rgb(0, 0, 126);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Github user search */

.github-container {
  width: 350px;
  background-color: rgb(0, 0, 126);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.github-form-container {
  background-color: white;
  color: rgb(0, 0, 126);
  padding: 5px 10px;
  border-radius: 5px;
}

.github-search-input {
  outline: none;
  border: none;
}

.github-search-button {
  border: none;
  background-color: rgb(0, 0, 126);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.github-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.github-user-pic {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}

.github-user-info {
  background-color: white;
  color: rgb(0, 0, 126);
  padding: 10px;
  border-radius: 5px;
}
