:root {
  --main-color: rgb(0, 0, 126);
  --secondary-color: rgb(255, 255, 255);
  --detail-color: rgb(255, 174, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.router {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--main-color);
  padding: 20px;
}
.router-link {
  display: block;
  text-align: center;
  background-color: var(--secondary-color);
  color: var(--main-color);
  text-decoration: none;
  padding: 5px;
  margin: 5px;
  border-radius: 5px;
}

.app {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 300px;
}

@media screen and (min-width: 600px) {
  .router {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    min-height: fit-content;
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
  }

  .router-link {
    display: inline;
    background-color: var(--secondary-color);
    color: var(--main-color);
    text-decoration: none;
    padding: 5px;
    margin: 10px;
    border-radius: 5px;
  }

  .app {
    margin-top: 100px;
  }
}

.title {
  text-align: center;
  padding: 20px;
}
/* carousel image */

.carousel-subtitle {
  text-align: center;
}

.carousel-container {
  width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.carousel-image {
  width: 100%;
  border-radius: 10px;
}

.arrow-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
  width: 50px;
  border: none;
  background-color: var(--secondary-color);
  opacity: 0.6;
  cursor: pointer;
}
.previous-button {
  left: 0;
}
.next-button {
  right: 0;
}

/* accordion */

.accordion-container {
  background-color: var(--main-color);
  padding: 20px;
  border-radius: 10px;
}

.accordion-title {
  color: var(--secondary-color);
}

.accordion-faq {
  background-color: var(--secondary-color);
  margin-bottom: 10px;
  padding: 10px 30px;
  border-radius: 8px;
}

.accordion-question {
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
}

.accordion-answer {
  font-size: 1rem;
  margin-bottom: 20px;
  width: 350px;
}

.accordion-button {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: rgb(222, 222, 255);
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

/* Quote Generator */
.quote-container {
  width: 350px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 20px;
  border-radius: 10px;
}

.quote-generator-author {
  padding: 10px 0;
  font-style: italic;
}

.quote-button {
  background-color: var(--detail-color);
  color: var(--main-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

/* Shopping List */

.shopping-list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  border-radius: 10px;
  padding: 10px;
}

.shopping-list-form {
  background-color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  width: 250px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.shopping-list-input {
  outline: none;
  border: none;
}

.shopping-list-item {
  list-style: disc;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 230px;
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.shopping-list-button {
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

/* Github user search */

.github-container {
  width: 350px;
  background-color: var(--main-color);
  color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.github-form-container {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 5px 10px;
  border-radius: 5px;
}

.github-search-input {
  outline: none;
  border: none;
}

.github-search-button {
  border: none;
  background-color: var(--main-color);
  color: var(--secondary-color);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.github-user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.github-user-pic {
  width: 100%;
  margin: 10px 0;
  border-radius: 10px;
}

.github-user-info {
  background-color: var(--secondary-color);
  color: var(--main-color);
  padding: 10px;
  border-radius: 5px;
}
